:root {

    --card-width:400px
  }
.Card_cantaner{
 position: relative;
 color: aliceblue; 
 background-color: rgba(97, 100, 102, 0.389);
 width: var(--card-width);  
 min-height: 200px;
 border-radius: 10px;
 padding: 1px;
}
.card_img{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    margin-top: 15px;
    
    min-height: 200px;
    background-repeat: no-repeat; 
    background-size: cover;
}
.card_user{
background-color: white;
border-radius: 10px;
width: 50px;
height: 50px;
}
.card_contex{
width: auto;
display: flex;
flex-direction: row;
margin: 15px; 
}
.card_text{
    margin-left:1rem ;
}
.icons_menu{
    height:50px;
    position: absolute;
    right: 15px;
    font-size: 2em;
}
.card_icon{
    display: flex;
    flex-direction: row; 
    margin: 15px;
    position: relative;
    font-size: 0.9em;
    /* ====== */
}
.icons{
    margin-left: 5px;
    padding: 3px;
    padding-right: 9px;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 5px;
}

.icons span{
   position: relative;
   top: 2px;
}

.display{display: block;}
.display_null{display: none;}
@media (max-width: 845px){
  .icons{
    display: none;
  }
}
/* ======== boder===== */

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  .card1 { 
    background: #191c29;
    width: var(--card-width);
    min-height: var(--card-height);
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
   margin: auto;
   margin-bottom: 15px;
  }
  
  .card1:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card1:hover:before, .card1:hover:after {
    animation: none;
    opacity: 1;
  }
  
  
  .card1::before {
    content: "";
    width: 101%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -0.5%;
      animation: spin 2.5s linear infinite;
      opacity: 0;
  }
  .card1::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
    opacity: 0;
  }
  @keyframes spin {
    0% {
    --rotate: 0deg;
    }
    100% {
    --rotate: 360deg;
    }
  }
 /* =====rotation===== */
 .rotation_box_position{
  position: fixed;
  top: 0;
  z-index: -5;
 }
 .rotation_box{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
 }
 
  .gear{
  width: 500px;
  position:absolute;
  top: -250px;
  right: -250px;
  opacity: 0.5; 
  }
  .favicon{
    width: 200px;
    position:absolute;
    top: 150px;
    right:120px ;
    opacity: 0.3;
    overflow: hidden;
    }
  
  .rotationL{
  z-index: -9;
  animation: rotationL 8s infinite linear;
  }
  @keyframes rotationL {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  .rotationR{
    z-index: -9;
    animation: rotationR 20s infinite linear;
    }
    @keyframes rotationR {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }

 