

.userShow {
    flex: 4;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }  

  
 .userContainer{
     display: flex;
     align-items: center;
     justify-content: space-around;

 }
  .userShowTop {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .userShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .userShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }  
  .userShowUsername {
    font-weight: 600;
  }
  
  .userShowUserTitle {
    font-weight: 300;
  }
  
  .userShowBottom1{
      margin-top: 20px;
  }
  .userShowBottom2{
    margin-top: 50px;
}
  .userShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
  }

  .inputContainer {
    display: flex;

    justify-content: center;
    align-items:center;
    margin-top: 10px;
  }
  .inputTitle{
    margin-right: 10px;
  }
  .userShowInfo{
      display: flex;
      align-items: center;
      margin: 20px 0px;
      color: #444;
  }
    
.userUpdateInput{
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}
  .userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
    margin-left: 10px;
}
.userUpdateButton{
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .userContainer {
      flex-direction: column;
  }
  .inputContainer{
    flex-direction: column;
  }
  .inputFiled{
    flex-direction: column;
    margin-top: 5px;

  }
  .userUpdateButton{
    margin-top:5px;
  }
}
